* {
    padding: 0;
    margin: 0;
}

.task-div {
    position: relative;
    left: 30%;
    top: 21vh;
}

.icons {
    position: relative;
    left: 80%;
    top: -3vh;
    cursor: pointer;
}

.tick {
    margin-right: 30px;
}

.hide {
    display: none;
}

.complete{
    text-decoration: line-through;
}

.task-div {
    background-color: whitesmoke;
    padding: 10px;
    padding-left: 14px;
    width: 425px;
    height: 20px;
    border-radius: 1rem;
    margin-bottom: 8px;
}